<ion-header [translucent]="true">
  <ion-toolbar class="py-3 mt-3">
    <ion-buttons slot="start">
      <ion-menu-button color="dark"></ion-menu-button>
    </ion-buttons>
    <ion-label slot="start">
      Finance.<strong>AI</strong>
    </ion-label>

    <ion-label slot="end">
      $14,799.76
    </ion-label>
    <ion-buttons slot="end">
      <ion-button fill="clear" color="dark">
        <ion-icon slot="icon-only" name="notifications-outline"></ion-icon>
      </ion-button>
      <ion-button fill="clear" color="dark">
        <ion-icon slot="icon-only" name="person-circle-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>