@use "./custom-theme.scss";

/* IonRadio customizations */
ion-radio-group {
    @apply w-full
}
ion-radio {
    @apply items-center
}
/* END IonRadio customization */

/* IonRadio within IonItem customizations */
ion-item {
    --border-radius: 12px;
}
ion-item ion-radio::part(container) {
    --color-checked: theme("colors.blue.900");
}
ion-item:has(ion-radio.radio-checked) {
    --background: theme("colors.blue.200");
    --color: theme("colors.blue.900");
    
    @apply font-bold
}
ion-item:has(ion-radio) ion-icon {
    @apply transition-all duration-250
}
ion-item:has(ion-radio.radio-checked) ion-icon {
    @apply fill-blue-900
}
/* END IonRadioGroup customization */

// Remove bottom toolbar gray border
ion-toolbar:last-of-type {
    --border-width: 0 !important;
}

ion-menu {
    @media (width <= 48rem) {
        --width: 100vw !important;
    }
    
    @media (width > 48rem) {
        --width: 50vw;
    }
}

/* IonSegment customization */
ion-segment {
    --background: @apply bg-transparent;
}

ion-segment-button {    
    --background: theme('colors.transparent');
    --indicator-color: theme('colors.gray.200');
    --indicator-box-shadow: none;
    --transition: all 250ms;
    --border-radius: theme('borderRadius.full');

    font: inherit;

    @apply p-1;
}
/* END IonSegment customization */

ion-item::part(native) {
    @apply gap-4 items-center
}

ion-item.form-input {
    --border-style: solid;
    --border-width: 1px;
    --border-radius: theme('borderRadius.xl');

    --transition: all 250ms;

    --highlight-color-focused: var(--ion-color-primary) !important;
}

/* IonSelect customization */
ion-select {
    --padding-start: --spacing(3);
    --padding-end: --spacing(3);
    --padding-top: 0 !important;
    --padding-bottom: 0 !important;

    @apply rounded-xl transition-all duration-250;
}
ion-select::part(icon) {
    @apply transition-all duration-250;
}

ion-select:hover,
ion-select:focus {
    @apply border-primary shadow-input-focus bg-white;
}

ion-select:hover::part(icon),
ion-select:focus::part(icon) {
    @apply text-primary!;
}

/* IonPopover customization */
ion-popover {
    --width: 98vw;

    @media (width > 48rem) {
        --width: 60vw;
    }
    @media (width > 64rem) {
        --width: 50vw;
    }
    @media (width > 80rem) {
        --width: 40vwt;
    }
    @media (width > 96rem) {
        --width: 30vw;
    }
}
/* END IonPopover customization */

/* Select popover customization */
ion-popover.select-popover,
ion-select-popover {
    --box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
    --background: theme("colors.dark");

    @apply transition-all duration-250 p-2 backdrop-grayscale-25 border-0 border-transparent border-none;
}
ion-popover.select-popover ion-list {
    @apply bg-transparent
}
ion-popover.select-popover ion-content {
    --padding-start: --spacing(4);
    --padding-end: --spacing(4);
    --pading-top: --spacing(2);
    --pading-bottom: --spacing(2);
    --background: transparent;

    @apply overflow-hidden
}
ion-popover.select-popover ion-radio-group {
    @apply w-full
}
ion-popover.select-popover ion-item {
    --border-width: 0px;
    --border-style: none;
    --border-color: transparent;
    --background: transparent;
    --color: theme("colors.light");
    --border-radius: 12px;

    // fade in animation
    transform: translateY(-10px);
    opacity: 0;
    animation: var(--animate-fade-in);

    // increment delay for each item
    @for $i from 10 through 1 {
        &:nth-child(#{$i}) {
            animation-delay: #{($i * 0.1)}s;
        }
    }

    @apply py-1 rounded-xl transition-all duration-250
}
ion-popover.select-popover ion-item ion-radio::part(container) {
    --color-checked: theme("colors.blue.900");
}
ion-popover.select-popover ion-item:has(ion-radio.radio-checked) {
    --background: theme("colors.blue.200");
    --color: theme("colors.blue.900");
    --color-checked: theme("colors.blue.900");
    
    @apply font-bold
}

ion-select::part(icon) {
    padding-left: --spacing(3);
}
ion-select::part(text) {
    color: theme('text-color-headings');
}
ion-select::part(icon) {
    color: theme('text-color-headings');
}
/* END IonSelect customization */

/* Card customizations */
.card-container {
    @apply flex flex-col rounded-xl gap-3 py-3 w-full
}

ion-card.alert-card {
    @apply flex flex-row gap-3
}
/* END Card customizations */

/* IonButton customization */

/* END IonButton customization */

/* IonChip customization */
ion-chip {
    @apply px-4 py-1
}
/* END IonChip customization */

/* Input customizations */
ion-searchbar {
    --placeholder-color: theme("colors.neutral.500");
    --icon-color: theme("colors.neutral.500");
    --placeholder-font-weight: 400;

    @apply px-0! p-0!
}
/* END Input customization */

ion-note {
    @apply text-neutral-500 
}

.fade-in-ion-items ion-item {
    // fade in animation
    transform: translateY(-10px);
    opacity: 0;
    animation: var(--animate-fade-in);

    // increment delay for each item
    @for $i from 100 through 1 {
        &:nth-child(#{$i}) {
            animation-delay: #{($i * 0.1)}s;
        }
    }
}