@use "./custom-theme.scss";

/* IonRadio customizations */
ion-radio-group .radio-group-wrapper {
    @apply flex flex-row gap-2 flex-wrap justify-start items-center
}
ion-radio {
    @apply justify-center items-start transition-all duration-250
}
ion-radio .radio-wrapper {
    @apply w-full
}
ion-radio::part(label) {
    @apply mb-0 mt-0 py-2
}
/* END IonRadio customization */

/* IonList customizations */
ion-list {
    @apply flex! flex-col gap-2
}
/* END IonList customizations */

/* IonRadio within IonItem customizations */
ion-item {
    --border-radius: 12px;
    --background: transparent;
}
ion-item ion-radio::part(container) {
    --color-checked: theme("colors.blue.900");
}
ion-item:has(ion-radio.radio-checked) {
    --background: theme("colors.blue.200");
    --color: theme("colors.blue.900");
    
    @apply font-bold
}
ion-item:has(ion-radio) ion-icon {
    @apply transition-all duration-250
}
ion-item:has(ion-radio.radio-checked) ion-icon {
    @apply fill-blue-900
}
/* END IonRadioGroup customization */

// Remove bottom toolbar gray border
ion-toolbar:last-of-type {
    --border-width: 0 !important;
}

ion-menu {
    @media (width <= 48rem) {
        --width: 100vw !important;
    }
    
    @media (width > 48rem) {
        --width: 50vw;
    }
}

/* IonSegment customization */
ion-segment {
    --background: @apply bg-transparent;
}

ion-segment-button {    
    --background: theme('colors.transparent');
    --indicator-color: theme('colors.gray.200');
    --indicator-box-shadow: none;
    --transition: all 250ms;
    --border-radius: theme('borderRadius.full');

    font: inherit;

    @apply p-1;
}
/* END IonSegment customization */

ion-item::part(native) {
    @apply gap-4 items-center
}

ion-item.form-input {
    --border-style: solid;
    --border-width: 1px;
    --border-radius: theme('borderRadius.xl');

    --transition: all 250ms;

    --highlight-color-focused: var(--ion-color-primary) !important;
}

/* IonSelect customization */
ion-select {
    --padding-start: --spacing(3);
    --padding-end: --spacing(3);
    --padding-top: 0 !important;
    --padding-bottom: 0 !important;

    @apply rounded-xl transition-all duration-250;
}
ion-select::part(icon) {
    @apply transition-all duration-250;
}

ion-select:hover,
ion-select:focus {
    @apply border-primary shadow-input-focus bg-white;
}

ion-select:hover::part(icon),
ion-select:focus::part(icon) {
    @apply text-primary!;
}

/* IonPopover customization */
ion-popover {
    --width: 98vw;

    @media (width > 48rem) {
        --width: 60vw;
    }
    @media (width > 64rem) {
        --width: 50vw;
    }
    @media (width > 80rem) {
        --width: 40vwt;
    }
    @media (width > 96rem) {
        --width: 30vw;
    }
}
/* END IonPopover customization */

/* IonSelect customization */
ion-select::part(icon) {
    padding-left: --spacing(3);
}
ion-select::part(text) {
    color: theme('text-color-headings');
}
ion-select::part(icon) {
    color: theme('text-color-headings');
}
/* END IonSelect customization */

/* Card customizations */
.card-container {
    @apply flex flex-col rounded-xl gap-8 py-4 w-full
}
.content-container {
    @apply rounded-xl bg-neutral-100 p-4 w-full
}

ion-card.alert-card {
    @apply flex flex-row gap-3
}
/* END Card customizations */

/* IonButton customization */

/* END IonButton customization */

/* IonChip customization */
ion-chip {
    @apply px-4 py-1
}
/* END IonChip customization */

/* Input customizations */
ion-searchbar {
    @apply px-4! py-2! min-h-lh! border-2 border-neutral-200 rounded-xl
}
ion-searchbar.sc-ion-searchbar-ios-h {
    --icon-color: theme("colors.neutral.500");
    --placeholder-color: theme("colors.neutral.500");
    --placeholder-font-weight: 400;
    
    @apply transition-all duration-[1s] text-neutral-500
}
ion-searchbar ion-icon {
    @apply transition-all duration-[1s]
}
ion-searchbar:not(:disabled):hover {
    @apply border-neutral-500 duration-250
}
ion-searchbar:not(:disabled):hover ion-icon {
    @apply text-neutral-500 duration-250
}
ion-searchbar:not(:disabled):focus-within {
    @apply border-primary bg-neutral-50 duration-250 shadow-md shadow-neutral-200 text-neutral-900
}
ion-searchbar:not(:disabled):focus-within ion-icon {
    @apply text-primary duration-250
}
ion-searchbar .searchbar-clear-icon {
    @apply opacity-0 animate-fade-in-blurry
}
.searchbar-input.sc-ion-searchbar-ios {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
/* END Input customization */

ion-note {
    @apply text-neutral-500 
}

.fade-in-ion-items ion-item {
    transform: translateY(-10px);

    // increment delay for each item
    @for $i from 1 through 100 {
        &:nth-child(#{$i}) {
            animation-delay: #{($i * 0.1)}s;
        }
    }

    @apply opacity-0 animate-fade-in-blurry
}