@import url("./fonts.scss");

@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

html {
    --ion-dynamic-font: 'Manrope', sans-serif;
	--ion-font-family: 'Manrope', sans-serif;

    --ion-background-color: #F9FAFB;
    --ion-background-color-rgb: 249,250,251;

    --ion-text-color: #4B5563;
    --ion-text-color-rgb: 75,85,99;
}

:root {
	--ion-color-primary: #7C3AED;
	--ion-color-primary-rgb: 124,58,237;
	--ion-color-primary-contrast: #ffffff;
	--ion-color-primary-contrast-rgb: 255,255,255;
	--ion-color-primary-shade: #6d33d1;
	--ion-color-primary-tint: #894eef;

	--ion-color-secondary: #D9D9D9;
	--ion-color-secondary-rgb: 217,217,217;
	--ion-color-secondary-contrast: #000000;
	--ion-color-secondary-contrast-rgb: 0,0,0;
	--ion-color-secondary-shade: #bfbfbf;
	--ion-color-secondary-tint: #dddddd;

	--ion-color-tertiary: #6030ff;
	--ion-color-tertiary-rgb: 96,48,255;
	--ion-color-tertiary-contrast: #ffffff;
	--ion-color-tertiary-contrast-rgb: 255,255,255;
	--ion-color-tertiary-shade: #542ae0;
	--ion-color-tertiary-tint: #7045ff;

	--ion-color-success: #16A34A;
	--ion-color-success-rgb: 22,163,74;
	--ion-color-success-contrast: #000000;
	--ion-color-success-contrast-rgb: 0,0,0;
	--ion-color-success-shade: #138f41;
	--ion-color-success-tint: #2dac5c;

	--ion-color-warning: #ffc409;
	--ion-color-warning-rgb: 255,196,9;
	--ion-color-warning-contrast: #000000;
	--ion-color-warning-contrast-rgb: 0,0,0;
	--ion-color-warning-shade: #e0ac08;
	--ion-color-warning-tint: #ffca22;

	--ion-color-danger: #DC2626;
	--ion-color-danger-rgb: 220,38,38;
	--ion-color-danger-contrast: #ffffff;
	--ion-color-danger-contrast-rgb: 255,255,255;
	--ion-color-danger-shade: #c22121;
	--ion-color-danger-tint: #e03c3c;

	--ion-color-light: #F9FAFB;
	--ion-color-light-rgb: 249,250,251;
	--ion-color-light-contrast: #000000;
	--ion-color-light-contrast-rgb: 0,0,0;
	--ion-color-light-shade: #dbdcdd;
	--ion-color-light-tint: #fafbfb;

	--ion-color-medium: #5f5f5f;
	--ion-color-medium-rgb: 95,95,95;
	--ion-color-medium-contrast: #ffffff;
	--ion-color-medium-contrast-rgb: 255,255,255;
	--ion-color-medium-shade: #545454;
	--ion-color-medium-tint: #6f6f6f;

	--ion-color-dark: #1E1B24;
	--ion-color-dark-rgb: 30,27,36;
	--ion-color-dark-contrast: #ffffff;
	--ion-color-dark-contrast-rgb: 255,255,255;
	--ion-color-dark-shade: #1a1820;
	--ion-color-dark-tint: #35323a;

    --ion-dynamic-font: 'Manrope', sans-serif;
	--ion-font-family: 'Manrope', sans-serif;

    --ion-background-color: #F9FAFB;
    --ion-background-color-rgb: 249,250,251;

    --ion-text-color: #4B5563;
    --ion-text-color-rgb: 75,85,99;
}

ion-menu {
  --width: 100vw;
}