<ion-app>
    <ion-menu contentId="main-content" type="overlay">
      <ion-content>

        <div class="flex flex-row justify-between items-center p-4 border-b border-gray-200 w-full">
          <logo-icon size="large"></logo-icon>

          <ion-menu-toggle auto-hide="false">
            <ion-button fill="clear" color="dark">
              <ion-icon slot="icon-only" name="close"></ion-icon>
            </ion-button>
          </ion-menu-toggle>
        </div>

        <ion-list id="inbox-list">
          @for (p of appPages; track p.url; let i = $index) {
            <ion-menu-toggle auto-hide="false">
              <ion-item routerDirection="root" [routerLink]="[p.url]" lines="none" detail="false" routerLinkActive="selected">
                <h1 class="regular-font">{{ p.title }}</h1>
              </ion-item>
            </ion-menu-toggle>
          }
        </ion-list>

      </ion-content>
    </ion-menu>
    <ion-router-outlet id="main-content"></ion-router-outlet>
</ion-app>
