<app-header title="Personal finances"></app-header>

<ion-content [fullscreen]="true" [scrollEvents]="true">

  <div class="main-content-container">

    <div class="card-container">
      <div class="w-full items-center justify-start flex flex-row gap-2">
        <ion-button size="small" color="medium" fill="dark" shape="round" slot="start" id="filter-popover">
          <ion-icon slot="icon-only" name="filter"></ion-icon>
        </ion-button>
        
        <ion-popover trigger="filter-popover" triggerAction="click" class="select-popover">
          <ng-template>
            <ion-content>
              <div class="flex flex-col items-start justify-start gap-2 py-4 w-full">
                <div class="text-neutral-500 text-sm font-bold">
                  Filter
                </div>
                <ion-radio-group value="paymentCycle">
                  <ion-list>
                    <ion-item lines="none">
                      <ion-radio value="paymentCycle">
                        Payment cycle<br />
                        <span class="text-neutral-500">March 15 to 31</span>
                      </ion-radio>
                    </ion-item>
                    <ion-item lines="none">
                      <ion-radio value="thisMonth">
                        This month<br />
                        <span class="text-neutral-500">March</span>
                      </ion-radio>
                    </ion-item>
                    <ion-item lines="none">
                      <ion-radio value="lastTwoMonths">
                        Last 2 months<br />
                        <span class="text-neutral-500">January, February</span>
                      </ion-radio>
                    </ion-item>
                    <ion-item lines="none">
                      <ion-radio value="lastSixMonths">
                        Last 6 months<br />
                        <span class="text-neutral-500">July 2024 to February 2025</span>
                      </ion-radio>
                    </ion-item>
                    <ion-item lines="none">
                      <ion-radio value="thisYear">
                        This year<br />
                        <span class="text-neutral-500">2025</span>
                      </ion-radio>
                    </ion-item>
                  </ion-list>
                </ion-radio-group>
              </div>
            </ion-content>
          </ng-template>
        </ion-popover>

        <ion-chip color="medium" slot="start">
          <ion-label>Payment cycle <span class="text-neutral-500 ">— March 15 to 31</span></ion-label>
        </ion-chip>
      </div>

      <div class="h-30 w-full">
        <canvas baseChart [data]="barChartData" type="bar" [options]="barChartOptions"></canvas>
      </div>

      <div class="card-container">
        <div class="text-lg font-bold">
          Balance
        </div>
        <div class="flex flex-row justify-evenly items-center">
          <div class="flex flex-col items-start justify-center">
            <div class="font-bold flex flex-row gap-2 items-center text-green-700">
              <app-number-flow [value]="value" [animated]="true" [format]="currencyNumberFlowFormat"></app-number-flow>          
            </div>
            <div class="text-neutral-500">Earned</div>
          </div>

          <div class="text-xl font-bold text-neutral-500">-</div>

          <div class="flex flex-col items-start justify-center">
            <div class="font-bold flex flex-row gap-2 items-center text-red-700">
              <app-number-flow [value]="value" [animated]="true" [format]="currencyNumberFlowFormat"></app-number-flow>          
            </div>
            <div class="text-neutral-500">Spent</div>
          </div>

          <div class="text-xl font-bold text-neutral-500">=</div>
          
          <div class="flex flex-col items-start justify-center">
            <div class="font-bold flex flex-row gap-2 items-center">
              <app-number-flow [value]="value" [animated]="true" [format]="currencyNumberFlowFormat"></app-number-flow>          
            </div>
            <div class="text-neutral-500">Remaining</div>
          </div>

        </div>
      </div>

      <div class="card-container fade-in-ion-items">
        <div class="text-lg font-bold">Details</div>

        <div>
          <ion-searchbar placeholder="Search" animated="true" searchIcon="search" inputmode="search" enterkeyhint="search" debounce="1000" cancelButtonIcon="close" clearIcon="close"></ion-searchbar>
          <div class="text-sm text-neutral-500">
            Found 5 results
          </div>
        </div>

        <!-- Detail list -->
        <ion-item lines="none">
          <fa-icon [icon]="faBowlRice" slot="start" class="text-red-700" />
          <div class="flex flex-col" slot="start">
            <ion-label>Chinese Raise</ion-label>
            <div class="flex flex-row gap-2">
              <ion-note>-$10</ion-note>
              <ion-note>Delivery food</ion-note>
            </div>
          </div>
          <ion-label slot="end">15/03/25</ion-label>
        </ion-item>

        <ion-item lines="none">
          <fa-icon [icon]="faBriefcase" slot="start" class="text-green-700" />
          <div class="flex flex-col">
            <ion-label>Work payment</ion-label>
            <div class="flex flex-row gap-2">
              <ion-note>$704</ion-note>
              <ion-note>Payments</ion-note>
            </div>
          </div>
          <ion-label slot="end">20/03/25</ion-label>
        </ion-item>
      </div>
    </div>

  </div>
</ion-content>